/* line 2, ../../app/styles/sass/_reset.sass */
a:link, a:hover {
  text-decoration: none;
}

/* line 1, ../../app/styles/sass/_page.sass */
h1 {
  font-size: 16px;
  border: 1px solid rgba(255, 16, 50, 0.59);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 30px;
}

/* line 9, ../../app/styles/sass/_page.sass */
.container {
  max-width: 700px;
  margin: 0 auto;
}

/* line 13, ../../app/styles/sass/_page.sass */
.error {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 16, ../../app/styles/sass/_page.sass */
.nuevo-gasto {
  float: right;
}

/* line 19, ../../app/styles/sass/_page.sass */
.gastos {
  margin-top: 20px;
}

/* line 22, ../../app/styles/sass/_page.sass */
.gasto-eliminar span {
  cursor: pointer;
}
/* line 24, ../../app/styles/sass/_page.sass */
.gasto-eliminar span:hover {
  color: red;
}

/* line 27, ../../app/styles/sass/_page.sass */
.gastos-label {
  text-align: center;
}

/* line 30, ../../app/styles/sass/_page.sass */
.gastos-filter {
  border: 1px solid #4d4d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: none;
  width: 100%;
}
