

a
  text-decoration: none
  color: black
  padding: 10px
  &:hover
    background: black
    color: white



section
  margin: 10px
  background: $section-back
  +border-radius(5px)
  border: $border-width solid darken($section-back, 20%)
  @for $i from 1 through 10
    &:nth-child(#{$i})
      background: darken(red, 10% + ($i * 5))

.success
  +btn(#7d7d7d, white)

.warning
  +btn(#010101, red)

.alert
  +btn(#127d1d, white, 20%)



.header-container
  @extend %navbar
  border-bottom: 4px solid
  height: 100px
  bottom: auto
.footer-container
  @extend %navbar
  border-top: 4px solid
  top: auto
  height: 40px
