
<div class="mis-gastos-lista">
  <h1>Listado de gastos</h1>
  <p ng-show="error" class="error bg-danger">{{error}}</p>
  <div class="botonera clearfix"><a href="#/gasto" class="btn btn-primary pull-right">Nuevo Gasto</a></div>
  <div class="gastos table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div class="gastos-label clearfix">Quien</div>
            <input type="text" ng-model="buscar.quien" class="gastos-filter clearfix"/>
          </th>
          <th>
            <div class="gastos-label clearfix">Que</div>
            <input type="text" ng-model="buscar.que" class="gastos-filter clearfix"/>
          </th>
          <th>
            <div class="gastos-label clearfix">Cuando</div>
            <input type="text" ng-model="buscar.cuanto" class="gastos-filter clearfix"/>
          </th>
          <th>
            <div class="gastos-label clearfix">Moneda</div>
            <select ng-model="buscar.moneda" ng-options="c for c in monedas" required="required" class="gastos-filter clearfix">
              <option value=""></option>
            </select>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="gasto in gastos | filter:buscar " class="gasto">
          <td class="gasto-quien">{{gasto.quien}}</td>
          <td class="gasto-que">{{gasto.que}}</td>
          <td class="gasto-cuanto">{{gasto.cuanto}}</td>
          <td class="gasto-moneda">{{gasto.moneda}}</td>
          <td class="gasto-ver"><a ng-href="#/gasto/{{gasto._id}}" class="glyphicon glyphicon-eye-open"></a></td>
          <td class="gasto-eliminar"><span ng-click="eliminar(gasto)" class="glyphicon glyphicon-remove"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>